{% extends "layout.html" %}

{% block title %}
    Registro de Horario
{% endblock title %}

{% block body %}

    {% with messages = get_flashed_messages()  %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Registro de Horario</h1>
    <form action="{{ url_for('registrar_horario') }}" method="POST">
        <div class="form-group">
            <label for="start">Fecha:</label>
            <input type="date" id="start" name="fecha"
                value="2022-03-27"
                min="2022-01-01" max="2022-12-31">
        </div>

        <div class="form-group">
            <label>Hora:</label>
            <select class="form-select" name ="hora">
                {% for tupla_hora in hora_citas %}
                    <option value="{{ tupla_hora.1 }}">{{ tupla_hora.0 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <button class="boton">Registrar</button>
        </div>

    </form>

{% endblock %}