{% extends "layout.html" %} {% block title %} Registro Alumno {% endblock title
%} {% block body %}
<div class="container login-card row">
  {% if error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}
  <div class="justify-content-center">
    <form class="form" action="/registro_alumno" method="POST">
      <div class="col-auto text-center">
        <img
          src="{{url_for('static', filename='imagenes/Logo2.jpg') }}"
          alt="Logo 2"
        />
        <h1 class="mt-0">Registro Alumno!</h1>
      </div>

      <div class="form-group d-flex justify-content-between mb-3">
        <div class="form-floating me-1">
          <input type="text" class="form-control" name="nombres" id="nombres" />
          <label for="nombres">Nombres</label>
        </div>

        <div class="form-floating ms-1">
          <input
            type="text"
            class="form-control"
            name="apellidos"
            id="apellidos"
          />
          <label for="apellidos">Apellidos</label>
        </div>
      </div>

      <div class="form-group d-flex justify-content-between mb-3">
        <div class="form-floating me-1">
          <input type="text" class="form-control" name="email" id="email" />
          <label for="email">Email</label>
        </div>

        <div class="form-floating ms-1">
          <input
            type="password"
            class="form-control"
            name="contrasena"
            id="password"
          />
          <label for="password">Contraseña</label>
        </div>
      </div>

      <div class="form-group d-flex justify-content-between mb-3">
        <div class="form-floating flex-fill me-1">
          <select class="form-select" name="sede" id="sede">
            <option selected>Sede</option>
            <option value="San Miguel">San Miguel</option>
            <option value="San Isidro">San Isidro</option>
            <option value="Monterrico">Monterrico</option>
            <option value="Villa">Villa</option>
          </select>
        </div>

        <div class="form-floating flex-fill ms-1">
          <select class="form-select" name="ciclo">
            <option selected>Ciclo</option>
            <option value="1ro">1ro</option>
            <option value="2do">2do</option>
            <option value="3ro">3ro</option>
            <option value="4to">4to</option>
            <option value="5to">5to</option>
            <option value="6to">6to</option>
            <option value="7mo">7mo</option>
            <option value="8vo">8vo</option>
            <option value="9no">9no</option>
            <option value="10mo">10mo</option>
          </select>
        </div>
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" name="carrera">
          <option selected>Carrera</option>
          <option value="Ingenieria de sistemas de información">
            Ingenieria de sistemas de información
          </option>
          <option value="Ingenieria de sistemas de software">
            Ingenieria de sistemas de software
          </option>
          <option value="Ciencias de la Computación">
            Ciencias de la Computación
          </option>
        </select>
      </div>

      <div class="form-group d-flex justify-content-between mb-3">
        <div class="form-floating flex-fill me-1">
          <select class="form-select" name="sexo">
            <option selected>Género</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
        <div class="form-floating flex-fill ms-1">
          <input type="text" class="form-control" name="edad" id="edad" />
          <label for="edad">Edad</label>
        </div>
      </div>

      <div class="form-floating mb-3">
        <button class="btn btn-primary d-block mx-auto">Registrar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
